body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f0f0f0;
}

.container {
    text-align: center;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    width: 100%;
    text-align: center; 
}

h1 {
    margin: 0; 
}

footer {
    background-color: #333;
    color: white;
    padding: 20px;
    width: 100%;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 5px;
    margin: 20px auto;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: #773f89bd;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    cursor: pointer;
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 1em;
    background-color: silver;
    border: 2px solid pink;
}

.contact-details {
    text-align: center;
}
